.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cls-2, .cls-3 {
  fill: #626E72;
  stroke-width: 0.5px; }

  .cls-1, .cls-3 {
    fill: none; }
  
  .cls-1, .cls-2, .cls-3 {
    stroke: #626E72;
    stroke-miterlimit: 10; }
  
  .cls-2 {
    fill: #0192C9 !important; 
  }

  ul {
    list-style: none;
    padding: 0px;
    width: 100px
  }

  .sidebar {
    display: flex;
    justify-content: right;
    position: fixed;
    top: 36%;
    right: 0%
  }

  .li {
    margin-bottom: 7px;
  }

  .fa-2x {
    font-size: 20px;
    margin-bottom: 13px;
    color: grey;
  }

  .icon {
    height: 35px;
    width: 35px;
    /* border-color: blue; */
    border: 2px solid #0192c9;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
