.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cls-2, .cls-3 {
  fill: #626E72;
  stroke-width: 0.5px; }

  .cls-1, .cls-3 {
    fill: none; }
  
  .cls-1, .cls-2, .cls-3 {
    stroke: #626E72;
    stroke-miterlimit: 10; }
  
  .cls-2 {
    fill: #0192C9 !important; 
  }

  ul {
    list-style: none;
    padding: 0px;
    padding-right: 21px;
  }

  .sidebar {
    display: flex;
    justify-content: right;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0%
  }

  .fa-2x {
    font-size: 16px;
    color: grey;
  }

  .selected-icon {
    border: 2px solid #0192c9;
    border-radius: 50%;
  }

  .icon {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 16px;
    cursor: pointer;
  }

  .btn-ctn{
    font-family: Raleway Regular,sans-serif;
    width: 290px;
    height: 45px;
    border: 1.5px solid #0192c9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-left: 2px;
    cursor: pointer;
  }

  .btn-wrapper {
    margin-top: 2%;
  }
