.contact {
    width: 900px;
    height: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-form-ctn {
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form {
    width: 45%
}

.contact-form label {
    display: block;
    margin: 28px 0 0;
    font-size: 18px;
    color: #0192c9;
}

.contact-form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    border-bottom: 2px solid #626e72;
    font-size: 14px;
    color: #626e72;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}


.contact-social{
    width: 50%;
    border-left: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.contact-social-media-icon-ctn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.social-media-icon {
    display: flex;
    justify-content: space-evenly;
}

.img-height {
    height: 30px;
}

.message-wrapper {
    margin-top: 28px;
    display: flex;
    justify-content: center;
}
.message-text {
    width: 144px;
    font-size: 13px;
}



