.project-container {
    margin-top: 4%;
    padding-left: 13px;
    padding-right: 38px;
}

.project-item {
    background-color: rgb(61, 68, 194);
    width: 250px;
    height: 154px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    transition: all .2s ease-in-out;
}

.temp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-item:hover {
    margin-right: 10px;
    margin-bottom: 10px;
    width:250px;
    height: 154px; 
    transform: scale(1.04)
}